Jerry Multi Agent Assistant.json
{
  "name": "Jerry Multi Agent Assistant",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        -384
      ],
      "id": "2496b2d8-d4e3-4759-b3b5-410a13d4baac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DfY1QNozNv3B7zwE",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        -384
      ],
      "id": "2552ceec-a660-4888-9ede-208287a5c306",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Master Agent System Prompt:\nYou are a Master Agent Orchestrator who handles all things Email, Cal and Meetings -\n1. If the user asks for Email related query, Use the Email Agent Tool\n2. If the user asks for Calendar related query, Use the Calendar Agent Tool\n3. If the user asks for Meeting related query, Use the Meeting Agent Tool\n4. If the enquiry consists of the combination of commands, use the appropriate tools in the order of user's requirement to fulfil the request\nWhen a user asks to send an email, schedule a meeting, or check a calendar, you MUST call the appropriate sub-agent tool instead of replying yourself\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        -608
      ],
      "id": "fdbe777c-abe7-48be-b9f5-c555adf6186a",
      "name": "Master Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        -176
      ],
      "id": "97c8c4b8-885e-4d1b-8491-1ee84d461304",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DfY1QNozNv3B7zwE",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        -176
      ],
      "id": "9a0b00e3-5ccd-418b-9ae7-1c2fdb6dc51c",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent that can handle all things email",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are an expert email assistant who handles all things Email -1. If the user asks for send/compose/write an email, use the Send message tool2. If the user asks for Summarize/read/fetch emails, use the Get Many messages tool3. If the user asks to draft something, use the Draft a message tool4. If user either asks for Reply or Delete a message -   a. First read the emails in focus via Get Many messages tool   b. Extract the Message ID relevant for the user's query and use the appropriate tool to perform the action."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        560,
        -384
      ],
      "id": "77e88ce9-132d-4fed-a20e-70898262fe84",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        512,
        -176
      ],
      "id": "613621f1-4d19-4878-8106-3ced998d1005",
      "name": "Get many messages in Gmail",
      "webhookId": "553dd367-fba9-444c-b094-341d62f0749c",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tzfh8b6YsTFPzMzA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        640,
        -176
      ],
      "id": "aa19df34-e075-4d5f-983d-21a49206c3b8",
      "name": "Send a message in Gmail",
      "webhookId": "15e3da34-8cbb-445e-8c1e-001f1e29c42f",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tzfh8b6YsTFPzMzA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        768,
        -176
      ],
      "id": "120b3628-bd39-4f62-a090-6d07f6fc0750",
      "name": "Reply to a message in Gmail",
      "webhookId": "2d2ff492-045d-4646-8e76-bf085855e088",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tzfh8b6YsTFPzMzA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        896,
        -176
      ],
      "id": "3ea6b8a7-033c-475c-9073-5cff3b381a07",
      "name": "Create a draft in Gmail",
      "webhookId": "8120063f-9f8e-4fc4-97e5-bd1a2f2adcb4",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tzfh8b6YsTFPzMzA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1024,
        -176
      ],
      "id": "c7c7cf7e-6503-42c9-8c10-49a3964cabe1",
      "name": "Delete a message in Gmail",
      "webhookId": "fe7d521a-96d5-4149-bf4a-e517ce880f59",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tzfh8b6YsTFPzMzA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "AI Agent that can handle all things related to calendar",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are an expert calendar assistant who handles all things Cal -\n\nBefore you perform any action, get the currentDate from Date & Time tool\n\n1. If the user asks for schedule/create an event, use the create event tool\n2. If the user asks for read/fetch events, use the Get Many events tool\n3. If the user asks to check availability, use the availability tool\n4. If user either asks for Upate or Delete an event -\na. First read the events in focus via Get Many events tool\nb. Extract the Event ID relevant for the user's query and use the appropriate tool to perform the action.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1520,
        -384
      ],
      "id": "def3c56d-73f0-432f-8fd2-82882692bf92",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1152,
        -176
      ],
      "id": "cf74aeae-27bb-4dfe-8635-86dda49b7046",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "DfY1QNozNv3B7zwE",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        -176
      ],
      "id": "a8c8ee61-e714-41df-ac10-c07ed7bbb3a5",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "prashanth7840@gmail.com",
          "mode": "list",
          "cachedResultName": "prashanth7840@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1408,
        -176
      ],
      "id": "ab7d854f-83a0-4461-a89d-1c5efc4c80b8",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cmAEucCqSd0SvWFm",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "prashanth7840@gmail.com",
          "mode": "list",
          "cachedResultName": "prashanth7840@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1536,
        -176
      ],
      "id": "f7315ae1-6782-440f-a3b5-319520821c14",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cmAEucCqSd0SvWFm",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "prashanth7840@gmail.com",
          "mode": "list",
          "cachedResultName": "prashanth7840@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1664,
        -176
      ],
      "id": "a3ccedaf-2aca-4609-8dc0-9c4e327488be",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cmAEucCqSd0SvWFm",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "prashanth7840@gmail.com",
          "mode": "list",
          "cachedResultName": "prashanth7840@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1792,
        -176
      ],
      "id": "9ca5f5e5-5896-4ad6-9bcd-74612f31031c",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cmAEucCqSd0SvWFm",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "prashanth7840@gmail.com",
          "mode": "list",
          "cachedResultName": "prashanth7840@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1920,
        -176
      ],
      "id": "0ff13e92-1721-453e-a8aa-20aed643ee50",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cmAEucCqSd0SvWFm",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        2048,
        -176
      ],
      "id": "a6722a2d-57f7-4fad-a8f9-d4d83423d756",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent that can handle all things related to transcripts meetings",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Meeting Agent System Prompt:\nYou are an expert meeting assistant who handles all things meetings -\n\n1. For every user query, first get all the list of trascripts using list of transcripts tool. \n\n2. Extract the relavant transcript ID from the list above, and construct the body for the next API call using the Transcript tool as follows -\n\n{\n  \"query\": \"query Transcript($transcriptId: String!) { transcript(id: $transcriptId) { id title sentences { speaker_name text start_time end_time } meeting_attendees { displayName email name } participants } }\",\n  \"variables\": {\n    \"transcriptId\": \"<insert_transcript_id_from_step_1>\"\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        2400,
        -384
      ],
      "id": "b0adf6d9-1582-4807-bcf0-2ba18e64f729",
      "name": "Meeting Agent Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2176,
        -176
      ],
      "id": "f460c242-2c7f-4d84-80e1-88640ce805a5",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "DfY1QNozNv3B7zwE",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2304,
        -176
      ],
      "id": "88ba1293-3343-429e-b3b8-242b65a9f0ca",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fireflies.ai/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 75c01860-79c9-46c1-9856-caafadccd08f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "query Transcripts { transcripts { title id } }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2432,
        -176
      ],
      "id": "195fd9e3-1515-40d4-911d-e9ad830a6482",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fireflies.ai/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 75c01860-79c9-46c1-9856-caafadccd08f"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"query Transcript($transcriptId: String!) { transcript(id: $transcriptId) { id title sentences { speaker_name text start_time end_time } meeting_attendees { displayName email name phoneNumber } meeting_attendance { name join_time leave_time } } }\",\n  \"variables\": {\n    \"transcriptId\": \"your_transcript_id\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2560,
        -176
      ],
      "id": "de0653b1-d3e5-4eb4-88c3-00e3e716e119",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        -608
      ],
      "id": "d33cecfd-72e9-464d-be31-98c0740aa5a9",
      "name": "Telegram Trigger",
      "webhookId": "865f451d-9a82-4ab0-8593-7bb341f307bf",
      "credentials": {
        "telegramApi": {
          "id": "Vk2zYJDIX37LZWFP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        -592
      ],
      "id": "f7c0bf48-9049-4b51-99d8-bef560d7a902",
      "name": "Send a text message",
      "webhookId": "e263788a-f8b1-44eb-8a16-6f7bc7f11a21",
      "credentials": {
        "telegramApi": {
          "id": "Vk2zYJDIX37LZWFP",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Master Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Master Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Email Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Meeting Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Meeting Agent Tool",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Meeting Agent Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "Meeting Agent Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Master Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1dcd16d8-7ae4-4da6-921e-6d3be27a2eaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f08f11cb0ed7eb249436344f2eb140ff31bf8fb8f9e7ebd4c3ab75c7a9098f5"
  },
  "id": "KF0GgKIOvTMGKOID",
  "tags": []
}